body {
    margin: 0;
    padding: 0;
    background: 
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.nav_link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 30px 20px 0px;
}

.header-text {
    font-size: 20px;
    color: orange;
    text-transform: uppercase;
}

.header-text1 {
    font-size: 14px;
}

.nav_link:hover {
    color: #e9e9e9;
}

.nav_link:after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 auto 20px;
/*    Без понятия как эту полоску сделать смотрел в инете мб надо создать контейнер или див*/
}

.article-photo {
    display: block;
    max-width: width: 100%;
    height: auto;
    border: 
}

.aboutartphoto {
    border: 
}

.img1 {
    position: relative;
    
}

.img2 {
    position: absolute;
    right: auto;
}






















