body{
    background-color: #fff;
    min-height: 1200px;
}

.header{
    width: 100%;
    height: 40px;
    background-color: #000;
    text-align: center;
}

.he{
    align-items: center;
}

nav{
    align-items: center;
}

.logo a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.item-list{
    list-style-type: none;
}

.item-list a{
    color: red;
    font-size: 20px;
    text-decoration: none;
}

.item-list:not(:last-child){
    margin-right: 20px;
}

.section-new-header{
    position: sticky;
    top: 10px;
    margin-top: 1200px;
    background: #000;
    height: 70px;
}

.content{
    text-align: start;
}

.title-content{
    font-size: 30px;
    margin-bottom: 0px;
    color: #F8B200;
}

.text-content{
    font-size: 16px;
    color: #F8B200;
}

.new-header .btn-container{
    margin-left: 150px!important;
    margin: 25px;
}

.btn-container .btn{
    margin-top: -10px;
    font-weight: bold;
    font-size: 17px;
    color: #000;
    background-color: #F8B200;
    padding: 8px 25px;
    border-radius: 5px;
}

.btn:hover{
    transition: transform 0.2s;
    transform: scale(1.1);
}  

@media (max-width: 991px){
    .container-content{
        flex-direction: column;
        text-align: center;
    }

    .section-new-header{
        height: 135px;
    }

    .new-header .btn-container{
        margin-left: 0!important;
        margin: 10px;
    }

    .content{
        margin-left: 0;
        text-align: center;
    }
}

@media(max-width: 575px){
    .section-new-header{
        height: 90px;
    }

    .text-content{
        display: none;
    }

    .title-content{
        font-size: 29px;
    }

    .btn-container .btn{
        padding: 5px;
    }
}

@media(max-width: 406px){

    .btn-container .btn{
        padding: 2px;
    }

    .section-new-header{
        height: 75px;
    }

    .title-content{
        font-size: 22px;
    }
}