body{
    background-color: #fff;
    min-height: 1200px;
    text-align: center;
    position: relative;
}

.header{
    height: 70px;
    z-index: 1000;
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.section-new-header{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    height: 70px;
    width: 100%;
}

.header-container{
    height: 100%;
}

.hide{
    display: none;
}

.container-content{
    display: flex;
    justify-content: center;
}

.content{
    text-align: start;
}

.paragraph-content{
    font-size: 30px;
    margin-bottom: 0px;
    color: #F8B200;
}

.text-content{
    margin-top: -5px;
    font-size: 16px;
    color: #F8B200;
}

.new-header .btn-container{
    margin-left: 150px!important;
    margin: 25px;
}

.btn-container .btn{
    margin-top: -10px;
    font-weight: bold;
    font-size: 17px;
    color: #000;
    background-color: #F8B200;
    padding: 8px 25px;
    border-radius: 5px;
}

.btn:hover{
    transition: transform 0.2s;
    transform: scale(1.1);
}  

@media (max-width: 991px){
    .container-content{
        flex-direction: column;
        text-align: center;
    }

    .section-new-header{
        max-width: 960px;
        height: 135px;
    }

    .new-header .btn-container{
        margin-left: 10px!important;
        margin: 10px;
    }

    .content{
        margin-left: 0;
        text-align: center;
    }
}

@media(max-width: 767px){
    .section-new-header{
        max-width: 720px;
    }
}

@media(max-width: 575px){
    .section-new-header{
        height: 90px;
        max-width: 540px;
    }

    .text-content{
        display: none;
    }

    .paragraph-content{
        font-size: 29px;
    }

    .btn-container .btn{
        padding: 5px;
    }
}

@media(max-width: 406px){

    .btn-container .btn{
        padding: 2px;
    }

    .section-new-header{
        height: 75px;
    }

    .paragraph-content{
        font-size: 22px;
    }
}